@import url('https://fonts.googleapis.com/css?family=Roboto');
$mainFont: 'Roboto', sans-serif;

* {
  font-family: $mainFont;
}

body {
  padding: 20px;
  display: none;
}

#weather-container {
  position: absolute;
  top: 0;
  right: 0;
}
#search-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1%;
  margin-left: 1%;
    input {
    border: solid 1px #ccc;
    padding: 9px 7px;
    width: 45px;
    color: transparent;
    cursor: pointer;
    font-size: 100%;
    outline: none;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;

    font-family: 'FontAwesome';
      .element:before{
      font-family: FontAwesome;
      content: "\f002";
      position: relative;
      left: -5px;
    }
      &:hover{
      background-color: #fff;
    }
    &:focus{
    width: 160px;
    padding-left: 10%;
    color: #000;
    background-color: #fff;
    cursor: auto;
    }
  }
}
#greeting-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#settings-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
#todo-container {
  position: absolute;
  bottom: 0;
  right: 0;
}
#quote-container{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

// Page styles ( for generally applied styling )
i {
  cursor: pointer;
}

// Search Styles


// Weather Styles


// Center Time, Greeting, and Focus Styles
#greeting-container {
  text-align: center;
}

#focus-input {
  display: none;
}

#focusLi {
  display: none;
}

// Settings Styles
#settings-cog {
  cursor: pointer;
}

#settings-data {
  display: none;
}

// Quote Generator Styles


// Todo Widget
